<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
        <title>Parse Time</title>
	</head>
    <body>
        <h2>
            Time
        </h2>
        <ul>  
             <li>minute: {{minutes}}</li>  
             <li>seconds:{{seconds}} </li>
             <hr/>
             <li>hour: {{hours}}</li>  
        </ul>  
    </body>
</html> 