<div class="panel panel-default affix well">
    <div class="panel-heading">Favourites:</div>
    <!-- List group -->
    <ul class="list-group">
        {{#each user.teams}}
            <li class="list-group-item">{{name}}</li>
        {{/each}}
    </ul>
</div>