<div class="row">
    <div class="col-xs-3">
        {{> favourites }}
    </div>
    <div class="col-xs-9">
        <table class="table">
            <thead>
                <tr>
                    <th>Year</th><th>Caption</th>
                </tr>
            </thead>
                {{#each this}}
                <tr>
                    <td>{{year}}</td>
                    <td><a href='{{leagueHref}}'>{{caption}}</a></td>
                </tr>
                {{/each}}
            <tbody>
            </tbody>
        </table>
    </div>
</div>
