<script>

    function addFavouriteHandler() {
        const ul = document.getElementById('listFavourites')
        const li = document.createElement('li')
        li.setAttribute('class', 'list-group-item')
        const team = document.createTextNode('Dummy Team')
        li.appendChild(team)
        ul.appendChild(li)
    }    
</script>
<div class="panel panel-default affix well">
    {{#if user}}
        <div class="panel-heading">
            <h4>{{user.fullname}}</h4>
        </div>
        <div class="panel">
            <!-- List group -->
            <ul class="list-group" id="listFavourites">
                {{#each user.teams}}
                    <li class="list-group-item">{{name}}</li>
                {{/each}}
            </ul>
        </div>
        <input type="text"/>
        </br>
        <button onclick="addFavouriteHandler()">Add</button>
    {{else}}
        <form action="/login" method="post">
            <div>
                <label>Username:</label>
                <input type="text" name="username"/>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password"/>
            </div>
            <div>
                <input type="submit" value="Log In"/>
            </div>
        </form>
    {{/if}}
</div>