<div class="panel panel-default affix well">
    {{#if user}}
        <div class="panel-heading">
            <h4>{{user.fullname}}</h4>
        </div>
        <div class="panel">
            <!-- List group -->
            <ul class="list-group">
                {{#each user.teams}}
                    <li class="list-group-item">{{name}}</li>
                {{/each}}
            </ul>
        </div>
    {{else}}
        <a class="btn btn-default" href="/login?username=ole&password=ola">login</a>
    {{/if}}
</div>